@using Academy.Domain.Entities

@{
    ViewBag.Title = "Students list of group";
    Layout = "_Layout";

    var group = ViewData["Group"] as Group;
    var students = ViewData["Students"] as List<Student>;
}

@if (group != null && students != null)
{
    @if (students.Count == 0)
    {
        <div class="row" style="padding-top: 10px">
            <div class="col text-center">
                <h4> There are no students inside "@group.Name" group.</h4>
            </div>
        </div>

        if (TempData["StudentSuccessAlertMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="padding-top: 10px">@TempData["StudentSuccessAlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
    else
    {
        <div class="row" style="padding-top: 10px">
            <div class="col text-center">
                <h4> Students list of "@group.Name" group.</h4>
            </div>
        </div>

        if (TempData["StudentSuccessAlertMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="padding-top: 10px">@TempData["StudentSuccessAlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table table-responsive" style="padding-top: 20px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 29%">First name</th>
                    <th style="width: 29%">Last Name</th>
                    <th style="width: 28%">Group</th>
                    <th style="width: 7%">Actions</th>
                    <th style="width: 7%"></th>
                </tr>
                </thead>

                <tbody>
                @foreach (var student in students)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@group.Name</td>
                        <td>
                            <a asp-controller="Student" asp-action="Create" asp-route-studentId="@student.Id" class="btn btn-dark">Edit</a>
                            </td>
                        <td>
                            <a asp-controller="Student" asp-action="Delete" asp-route-studentId="@student.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    }
    <div class="col text-center">
        <a asp-controller="Student" asp-action="Create" class="btn btn-info">Add new student</a>
    </div>
}